@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+MX:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+MX:wght@100..400&display=swap');



h1.title_2{
    font-family: Playwrite MX, cursive;
}

h1.title{
    font-family: Montserrat;
}

h1.title_3{
    font-family: "Fraunces", serif;;
}

.flex{
    align-items: center;
    justify-content: space-between;
}


.btn_prod:hover{
    .ant-btn:hover{
        color: #fff;
        background-color: #B18165;
        border-color: #7c7c7c;
    }
}