@import url('https://fonts.googleapis.com/css?family=Flamenco');

.container {
    // font-family: 'Flamenco', sans-serif;
    padding-top: 20px;
    padding-left: 100px;
    margin-bottom: 80px;
}

.thongtin {
    font-family: none;
    font-size: 50px;
    margin: 0;
    position: relative;
    font-weight: 400;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    margin-left: 50px;
    margin-bottom: 35px;
    padding-top: 5px;
}

.row {
    display: flex;
}

.sidebar {
    flex: 1;
}

.listGroup {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 50px;
   
}

.customList {
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 2rem
    
}

.listHover:hover {
    color: #B18165;
    font-weight: 500;

}

.customList.active {
    background-color: #f8f9fa;
    color: #B18165;
}

.divider {
    width: 1px;
    background-color: #000;
    margin: 0 10px 0 0; 
}

.content {
    flex: 3;
}

.infoSection, .favoritesSection {
    padding: 20px;
    margin-left: 50px;
   
}
.point {
    color: #B18165;
    font-size: 30px;
    margin-top: -50px;
    margin-bottom: 20px;
}

.containerFormEdit{
    position: fixed;
    top: 50%; /* Đưa container lên trên 50% của viewport */
    left: 50%; /* Đưa container sang bên trái 50% của viewport */
    transform: translate(-50%, -50%); /* Dịch container ngược lại 50% của kích thước của chính nó */
    background-color: white; /* Màu nền của container */
    padding: 20px; /* Khoảng cách nội dung với biên của container */
    z-index: 1000; /* Chỉ số z để đảm bảo nó nằm trên các phần tử khác */
    max-width: 80%; /* Độ rộng tối đa của container */
    width: 600px; /* Độ rộng cố định của container */
    border: 1px solid #ccc; /* Viền của container */
    border-radius: 10px; /* Bo tròn các góc của container */

}

.infoItem {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 50px;
}
.editItem{
    display: flex;
    flex-direction: column;  /* Ensure items are stacked vertically */
    justify-content: center;  /* Center items vertically */
    align-items: center;  /* Center items horizontally */
    height: 50vh;  /* Full height of the viewport */
    margin-top: 4%;
    margin-bottom: 25px;
}

.infoItemEditItem{
  margin-bottom: 15px;
  
}

.customInputEdit {
    width: 500px;  /* Ensure input fields take up the full width of their container */
    font-size: 20px;
    margin-top: 5px;
    
}


.infoItem_p{
    border-bottom: 1px solid;
    width: 400px;
    height: 35px;
    font-size: 22px;
}

.infoItem_span {
    margin-right: 20px;
}

.fontstyle {
    font-size: 25px;
    font-weight: 1000;
    color: #B18165;
    margin-bottom: 50px;
}




.buttonPosition {
    display: flex;
    justify-content: center;  /* Center the button horizontally */
    align-items: center;  /* Center the button vertically (if necessary) */
    margin-top: 50px;  /* Optional: Add margin to the top for spacing */

}

.buttonPositionEdit {
    display: flex;
    justify-content: space-between;  /* Distribute space between the buttons */
    align-items: center;  /* Center items vertically */
    width: 100%;  /* Full width */
    max-width: 600px;  /* Optional: max width of the button container */
    margin: 40px auto 0;  /* Center horizontally and add top margin */
}

.editButton {
  font-family: none;
  font-size: 20px;
  background-color: #A0522D; /* Darker shade for more intensity */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px; /* Round the button */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  margin-right: 10px;
}

.editButton:hover {
  background-color: #8B4513; /* Darker shade for hover state */
  cursor: pointer; /* Change cursor to pointer on hover */
}


.editButton:hover {
    background-color: #9e8478; /* Change background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.cancelButton {
    font-family: none;
    font-size: 20px;
    background-color: #8B0000; /* Màu đỏ đậm hơn và trầm */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
    margin-left: 200px; /* Khoảng cách giữa các nút */
}

.cancelButton:hover {
    background-color: #9e8478;
    color: #8B0000; /* Màu chữ là màu đỏ đậm hơn và trầm hơn */
}
.favoriteItem {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between // cách đều 2 bên màn hình nhe
}
.favoriteItem_Img {
    
}
.favoriteItem_Name_Item{
    // margin-top: 145px;
    // margin-right: 300px;
    // margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  margin-right: 400px;

}
.favoriteItem_Name_Item_P{
    display: flex;
}

.favoriteItem_Info{
    margin-right: 90px;
}

.favoriteButton {
    background-color: #B18165;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px; /* Round the button */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    margin-top: 100px;
}

.favoriteButton:hover {
    background-color: #9e8478; /* Change background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}


.likeIcon {
    cursor: pointer;
}


.orderHistorySection {
    background-color: white; //#f9f9f9
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.orderFilter {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: -80px; 
}

.orderFilter button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 8px;
}

.orderFilter button:not(.active):hover {
    background-color: #dac4b7;
    font-weight: bold; 
    font-size: 20px;
    transition-duration: 0.2s;
}

.orderFilter .active {
    background-color: #b18165;
    color: white;
}

.ordersList {
    display: flex;
    flex-direction: column;
    border-color: #000;

}

.orderDetails {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 4px;
    position: relative; /* Ensure positioning context for absolute positioning */
    border: solid 0.02px;
    border-radius: 0.5;
    box-shadow: 5px 7px 5px 5px #cccaca;
    background-color: #f9f9f9;

}
.orderInfo {
    flex: 2;
    padding-bottom: 30px;
}


.containerOrder{
    border: 10px;
}
.orderImage {
    width: 120px; /* Adjust the width as per your design */
    height: 120px; /* Adjust the height as per your design */
    margin-right: 20px;
    object-fit: cover; /* Ensure the image covers the specified dimensions */
    border-radius: 5px; /* Optional: Add rounded corners */
   
}

.orderName{
    font-weight:400;
    font-size: 20px;
}
.orderDate{
    font-size: 14px;
    color: #000000; /* Màu chữ cho ngày */
    margin-bottom: 60px;
}
.orderQuantity{
    font-weight:300;
}
.orderPrice{
    font-weight:300;
}
.orderTotalPrice{
    font-size: 20px;
    font-weight: 600;
}

.containerDateAndStatus{
    display: flex;
    justify-content: flex-end; /* Canh phải các phần tử bên trong */
    align-items: center; /* Canh giữa theo chiều dọc */
    gap: 50px; /* Khoảng cách giữa ngày và trạng thái */
}

.statusContainer {
    position: absolute;
    display: inline-block; /* Chỉ bao quanh nội dung */
    padding: 5px 10px; /* Thêm padding xung quanh văn bản */
    border-radius: 5px;
}


.status {
    font-size: 14px;
    font-weight:500;;
    color: #FFFFFF; /* Default color for status text */
}

.statusContainer.completed {
    background-color: #28a745; /* Green for completed */
   
}

.statusContainer.processing {
    background-color: #ffc107; /* Yellow for processing */
}

.statusContainer.cancelled {
    background-color: #dc3545; /* Màu nền cho trạng thái "Cancelled" */
}

.notFoundStatusHistory {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: #333;
    margin-top: 80px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #e0e0e0;
}

.pagination button.active {
    background-color: #b18165;
    color: #fff;
    border-color: transparent;
}

.pagination button:disabled {
    cursor: default;
    opacity: 0.6;
}


  .loader {
    --w: 10ch;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    line-height: 1.4em;
    letter-spacing: var(--w);
    width: var(--w);
    overflow: hidden;
    white-space: nowrap;
    color: #0000;
    text-shadow: 
          calc( 0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000;
    animation: l20 2s infinite linear;
}

.loader:before {
    content: "Đang tải...";
}

@keyframes l20 {
    9.09% { text-shadow: 
          calc( 0*var(--w)) -10px #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000 }
    18.18% { text-shadow: 
          calc( 0*var(--w)) 0 #000, calc(-1*var(--w)) -10px #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000 }
    27.27% { text-shadow: 
          calc( 0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) -10px #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000 }
    36.36% { text-shadow: 
          calc( 0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) -10px #000, calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000 }
    45.45% { text-shadow: 
          calc( 0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) -10px #000, 
          calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000 }
    54.54% { text-shadow: 
          calc( 0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) -10px #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000 }
    63.63% { text-shadow: 
          calc( 0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) -10px #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000 }
    72.72% { text-shadow: 
          calc( 0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) -10px #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) 0 #000 }
    81.81% { text-shadow: 
          calc( 0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) -10px #000, calc(-9*var(--w)) 0 #000 }
    90.90% { text-shadow: 
          calc( 0*var(--w)) 0 #000, calc(-1*var(--w)) 0 #000, calc(-2*var(--w)) 0 #000, calc(-3*var(--w)) 0 #000, calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000, calc(-6*var(--w)) 0 #000, calc(-7*var(--w)) 0 #000, calc(-8*var(--w)) 0 #000, calc(-9*var(--w)) -10px #000 }
          
}


.promotionSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.promotionCard {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row; // Đặt các mục theo chiều ngang
    width: 80%; // Đặt độ rộng của box ở đây
    justify-content: space-between;
    margin-right: 50px;
}

.promotionLogo{
    display: flex;
    justify-content: center;
    text-align: center;
}   
.promotionIcon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px; // Căn chỉnh khoảng cách bên dưới icon
}
.promotionLogoFont {
    flex: 1; // Giúp phần chi tiết mở rộng để chiếm không gian còn lại
    margin-right: 15px; // Khoảng cách giữa phần chi tiết và mã khuyến mãi
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif; // Áp dụng font-family
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.promotionDetails {
    text-align: center; // Căn giữa nội dung
}

.promotionCodeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px; // Khoảng cách bên trên mã khuyến mãi và nút

}

.codeContainer {
    display: flex;
    align-items: center;
}

.applyButton {
    background-color: #B18165;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px; // Khoảng cách giữa mã khuyến mãi và nút
    margin-right: 20px;
}
.applyButton:hover {
    background-color:#9e8478;
}
.copyInput {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 200px; // Độ rộng của ô mã khuyến mãi
}

