
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.swiper-button-next{
    color: rgb(172, 113, 88);
}

.swiper-button-prev{
    color: rgb(172, 113, 88);
}

.poster{
    h1{
        font-family: Lora;
    }
}

a.cateLink:hover{
    h2{
        color: black;
        font-weight: 600;
    }

    img{
        box-shadow: 12px -12px rgba(225, 225, 225, 0.8);
        width: fit-content;
    }

} 

