
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.swiper-button-next{
    color: rgb(172, 113, 88);
}

.swiper-button-prev{
    color: rgb(172, 113, 88);
}

.poster{
    h1{
        font-family: Lora;
    }
}
