.css-wn5hww-MuiLineElement-root {
    stroke: #000;
}

.css-xyaj9i-MuiMarkElement-root{
    stroke: #000;
    stroke-width: 0;
    fill: #000;
}

.recharts-layer recharts-bar-rectangle{
    path{
        width: 10;
    }
}

div.ant-table-wrapper.table-revenue{
    width: 400px !important;
}

.table-staff .ant-table-wrapper{
    width: 90% !important;
}